<?xml version='1.0' encoding='utf-8'?>
<widget id="com.supertrainer.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SuperTrainer</name>
    <description>
        Educational trainer app.
    </description>
    <author email="dev@example.com" href="http://example.com">
        Dev Team
    </author>
    <content src="index.html" />
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="35" />
    <preference name="android-compileSdkVersion" value="35" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="Orientation" value="portrait" />
    
    <platform name="android">
        <icon density="mdpi" src="www/img/logo.png" />
        <icon density="hdpi" src="www/img/logo.png" />
        <icon density="xhdpi" src="www/img/logo.png" />
    </platform>
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <plugin name="cordova-plugin-device" spec="^2.1.0" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.2" />
    <plugin name="cordova-plugin-purchase" spec="^13.12.1" />
</widget>
